/*Formatação geral*/
*{
	font-family: Helvetica, sans-serif;
}

body{
		margin:0;
		padding:0;
		width: 100%;
		height: 100vh;
		justify-content: center;
		align-items: center;
}
/**/


/*FORMATAÇÃO HEADER*/

header{
	background-color: #E6E6FA;
}

.logo{
	border: 1px solid red;
	display: inline-block;
	width: 209.17px;
	height: 44.83px;
}

/* .grupo-icones{
	float: right;
	width: 100px;
}

.icones{
	margin: 20px 0px 0px 0px;
	float: right;
	display: inline;
	width: 30px;
	height: 30px;
} */

/* .compras{
	margin: 15px 20px;
	float: right;
	cursor: pointer;
	width: 40px;
	height: 40px;
} */




.menu{
	display: inline-block;
	padding: 20px;

}


ul{
	text-decoration: none;

}


.menu li{
	display: inline-block;
	padding: 30px;
	padding-right: 50px;
	font-weight: bold;
	color: #0000CD;
	font-size: 16px;
    text-transform: lowercase;
}

.menu li a{
	text-decoration: none;
	color: #8B008B;
}

.menu li a:hover{
	color: #410287;
}




/*FORMATAÇÃO CORPO DO SITE*/
/*comeco antigo pos-cabecalho*/


  /*final antigo pos cabecalho*/

  /*Começo novo pós cabecalho*/
  
  .slider{
    margin: 0 auto;
    /* width: 800px; */
    width: 1350px;
    height: 400px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.slides{
    width: 400%;
    height: 500px;
    display: flex;
}

.slides input{
    display:none;
}

.slide{
    width: 25%;
    position: relative;
    transition:2s;
}

.imagens{
    background-position: center;
}

.slide img{
    /* width: 800px; */
    width: 1500px;
    /* border: 1px solid red; */
    /*começo da configuração imagem*/
    /*final configuração da imagem*/

}

.manual-navegacao{
    position: absolute;
    /* width: 800px; */
    width: 1400px;
    margin-top:-140px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border:2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right:40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navegacao div{
    border: 2px solid #20a6ff;
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacao{
    position: absolute;
    /* width: 800px; */
    width: 1400px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegacao div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegacao .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navegacao .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navegacao .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navegacao .auto-btn4{
    background-color: #fff;
}
  /*Final novo pós cabecalho*/

  /*Formatação promoção*/
.alinhamento{
	margin: 0 auto;
}

  .opcoes{
	margin: 20px auto;
	width: 980px;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	line-height: 2.0em;
}

.text-box{
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
	font-style: italic;
	text-align: justify-all;


}

.titulo-secoes{
	color: #006494;
	font-size: 2.0em;
	text-align: center;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}

.opcoes li{
	display: inline-block;
	text-align: justify;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	border: 2px solid #000000;
	border-radius: 10px;
}

.promocao-principal{
	margin-right: 20px;
	float: left;
	width: 50%;
}

.titulo-anuncio{
	color: #006494;
}

.riscado{
	text-decoration: line-through;
	color: red;
}


.adquira-produto{
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	width: 70%;
	height: 50px;
	border: none;
	color: white;
	background-image: linear-gradient(to bottom, #960018,#b7001f,#fa3757);
}

/*Configuração do mapa*/
.mapa-local{
	width: 100%;
	height: 450px;
	margin: 20px auto;
}

/*Configuração produtos novos e lançamentos*/
ul{
	list-style: none;
}

.produtos-novos-lancamentos{
	margin-right:20px;
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid rgb(167, 162, 162);
	border-radius: 20px;
	float: left;
}

.produtos-novos-lancamentos:hover{
	font-size: 1.1em;
	border: 2px solid rgb(167, 162, 162);
}



.imagem-produtos-lancamentos{
	margin-right: 20px;
	float: left;
	width: 30%;
}



.inline{
	display: inline;
}

.adicionar-carrinho{
	margin-left: 400px;
	margin-top: -60px;
	margin-bottom: 20px;
	cursor: pointer;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	width: 30%;
	height: 50px;
	border: none;
	color: white;
	background-image: linear-gradient(to bottom, #960018,#b7001f,#fa3757);
}

/*FORMATAÇÃO RODAPÉ*/
footer{
	border: 1px solid white;
	clear: both;
	height: 200px;
	background:linear-gradient(#fff,#E0FFFF, #AFEEEE);
	text-align: center;
	font-size: 0.5em;
}

.rodape{
	margin: 150px;
	justify-content: center;
	align-items: center;
}